.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px ;
    min-width: 300px;
    min-height: 300px;
    max-width: 100vh;
    font-size: 160px ;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(153, 60, 60);
    border-radius: 0.5em;
    margin-bottom: 15px;
}

